<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" manifest="offline.appcache" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/resized/<%= assets.favicon %>.png?width=180&height=180" />
<link
  href="/resized/<%= assets.favicon %>.png?width=57&height=57"
  rel="apple-touch-icon"
  sizes="57x57"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=72&height=72"
  rel="apple-touch-icon"
  sizes="72x72"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=114&height=114"
  rel="apple-touch-icon"
  sizes="114x114"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=144&height=144"
  rel="apple-touch-icon"
  sizes="144x144"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=57&height=57"
  rel="apple-touch-<%= assets.favicon %>-precomposed"
  sizes="57x57"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=60&height=60"
  rel="apple-touch-<%= assets.favicon %>-precomposed"
  sizes="60x60"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=76&height=76"
  rel="apple-touch-<%= assets.favicon %>-precomposed"
  sizes="76x76"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=120&height=120"
  rel="apple-touch-<%= assets.favicon %>-precomposed"
  sizes="120x120"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=152&height=152"
  rel="apple-touch-<%= assets.favicon %>-precomposed"
  sizes="152x152"
/>
<link
  href="/resized/<%= assets.favicon %>.png?width=180&height=180"
  rel="apple-touch-<%= assets.favicon %>-precomposed"
  sizes="180x180"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=320&height=460"
  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=640&height=920"
  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=640&height=1096"
  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=768&height=1004"
  media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=748&height=1024"
  media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1536&height=2008"
  media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1496&height=2048"
  media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
  rel="splash"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1136&height=640"
  media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2436&height=1125"
  media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1792&height=828"
  media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=828&height=1792"
  media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1334&height=750"
  media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1242&height=2688"
  media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2208&height=1242"
  media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1125&height=2436"
  media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1242&height=2208"
  media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2732&height=2048"
  media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2688&height=1242"
  media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2224&height=1668"
  media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=750&height=1334"
  media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2048&height=2732"
  media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2388&height=1668"
  media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1668&height=2224"
  media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=640&height=1136"
  media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1668&height=2388"
  media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=2048&height=1536"
  media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/resized/<%= assets.splash %>.png?width=1536&height=2048"
  media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
  integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY="
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/app2/resources/theme.css" media="screen" />
<link rel="stylesheet" href="/app2/resources/app2.css" media="screen" />

<style>
  body {
    font-family: "Roboto", sans-serif;
  }
</style>
