<a href="<%= links.home %>" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
<a href="<%= links.users %>" class="w3-bar-item w3-button"><i class="fa fa-users"></i></a>
<a download href="<%= links.download %>" class="w3-bar-item w3-button"><i class="fa fa-download"></i></a>
<a href="<%= links.favorite %>" class="w3-bar-item w3-button"><i class="fa fa-heart"></i></a>