<% for(const item of items) { %>
<div class="simple-mosaic-item">
  <a class="simple-mosaic-item" name="<%= item.text.toLowerCase() %>" href="<%= item.link %>">
    <img class="image" src="<%= item.thumb %>" />
    <span class="label"><%= item.text %></span>
  </a>
</div>
<% } %>