$("#my_nanogallery2").nanogallery2({
<!-- ### gallery settings ### -->
thumbnailHeight: 150,
thumbnailWidth: 150,
itemsBaseURL: 'http://nanogallery2.nanostudio.org/samples/',

<!-- ### gallery content ### -->
items: [
{ src: 'img_01.jpg', srct: 'img_01t.jpg', title: 'Title Image 1' },
{ src: 'img_02.jpg', srct: 'img_02t.jpg', title: 'Title Image 2' },
{ src: 'img_03.jpg', srct: 'img_03t.jpg', title: 'Title Image 3' }
]
});

<div id="imageGallery" data-nanogallery2='{
        "itemsBaseURL": "/",
        "thumbnailWidth": "200",
        "thumbnailLabel": {
          "position": "overImageOnBottom",
          "titleMultiLine": true
        },
        "thumbnailHoverEffect2": "scale120|toolsAppear",
        "thumbnailAlignment": "center",
        "gallerySorting": "titleasc",
        "galleryFilterTags": true,
        "thumbnailLevelUp": true,
        "thumbnailOpenImage": true
      }'>
    <% for(const item of items) { %>
    <a href="<%= item.image %>" data-ngthumb="<%= item.thumb %>" data-ngdesc=""><%= item.text %></a>
    <% } %>
</div>