<sort id='sortButtons' class="">
  <button data-sort-by="date" class="w3-bar-item w3-button sortbutton w3-right"><i
      class="noclick fa fa-sort-numeric-down"></i></button>
  <button data-sort-by="date-" class="w3-bar-item w3-button sortbutton w3-right">
    <i class="noclick fa fa-sort-numeric-up"></i>
  </button>
  <button data-sort-by="name" class="w3-bar-item w3-button sortbutton w3-right"><i
      class="noclick fa fa-sort-alpha-down"></i></button>
</sort>
<script>
  window.addEventListener('load', function () {
    if (window.q.sort) {
      Array.from(document.getElementById('sortButtons').children).forEach(function (e) {
        if (e.attributes['data-sort-by'].value === window.q.sort) {
          e.classList.add('w3-orange');
        }
      });
    }
    document.getElementById('sortButtons').addEventListener('click', function (event) {
      const sortBy = event.target.attributes['data-sort-by'];
      if (sortBy) {
        window.q.sort = sortBy.value;
        reload();
      }
    });
  });
</script>