<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./header.ejs', { config }) %>
    <%- include('./debug.ejs') %>
      <%- include('./options.ejs') %>
        <%- include('./isotope.ejs') %>
          <title>
            <%= title %>
          </title>
          <link rel="stylesheet" href="/app2/resources/app2.css" media="screen" />
          <script>
            function init() {
              const iso = isotope('.image-grid', '.image-grid__item', ['name', 'date']);
              document.getElementById('sortButtons').addEventListener('click', function (event) {
                const sortBy = event.target.attributes['data-sort-by'];
                const sortOrder = event.target.attributes['data-sort-order'];
                if (sortBy) {
                  console.info('Sorting by', sortBy.nodeValue);
                  iso.arrange({ sortBy: sortBy.nodeValue, sortAscending: sortOrder && sortOrder.nodeValue === 'desc' ? false : true });
                }
              });
            }
          </script>
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="init()">
  <div class="w3-bar w3-light-grey w3-border">
    <a href="<%= links.home %>" class="w3-bar-item w3-button "><i class="fa fa-home"></i></a>
    <a href="<%= links.users %>" class="w3-bar-item w3-button "><i class="fa fa-users"></i></a>
    <a href="<%= links.download %>" class="w3-bar-item w3-button"><i class="fa fa-download"></i></a>
    <a href="<%= links.favorite %>" class="w3-bar-item w3-button"><i class="fa fa-heart"></i></a>
    <input type="text" class="w3-bar-item w3-input" placeholder="Search..">
    <a href="#" class="w3-bar-item w3-button ">Go</a>
    <sort id='sortButtons'>
      <button data-sort-by="date" class="w3-bar-item w3-button w3-teal">By Date (Asc)</button>
      <button data-sort-by="date" data-sort-order="desc" class="w3-bar-item w3-button w3-teal">By Date (Desc)</button>
      <button data-sort-by="name" class="w3-bar-item w3-button w3-teal">By Name</button>
    </sort>
    <a href="#" class="w3-bar-item w3-button w3-right">
      <%= title %>
    </a>
  </div>
  <div id="main" class="main">
    <div class="container container--wide">
      <div class="image-grid">
        <% for(const item of items) { %>
          <a class="image-grid__item image-grid__item_fixed_size" name="<%= item.text.toLowerCase() %>"
            date="<%= item.date %>" href="<%= item.link %>">
            <img class="image-grid__image" src="<%= item.thumb %>" />
            <span class="image-grid__label">
              <%= item.text %>
            </span>
          </a>
          <% } %>
      </div>
    </div>
  </div>
</body>
</html>