<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', { config, assets }) %> <%- include('../utils/debug') %> <%-
    include('../utils/options') %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="simple-mosaic">
      <div id="navigation" class="w3-bar w3-light-grey w3-border">
        <%- include('../partials/links', { config }) %> <%- include('../partials/search', { config
        }) %> <%- include('../partials/sort', {config}) %>
        <a href="#" class="w3-bar-item w3-button w3-right"><%= title %></a>
      </div>
      <%- include('../partials/mosaic-simple.ejs', {items}) %>
    </div>
  </body>
</html>
