<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./flickity.ejs') %>
  <%- include('./debug.ejs') %>
  <%- include('./options.ejs') %>
  <title><%= title %></title>
  <link rel="stylesheet" href="/app2/resources/app2.css" media="screen" />
  <script>
    function init() {
      console.info('Initializating');
      flickity('.pages', parseInt(window.q.start || "0"));
    }
  </script>
<body onload="init()">
  <div class="main">
    <div class="pages">
      <% for(const item of items) { %>
      <div class="carousel-cell">
        <img class="page" data-flickity-lazyload="<%= item.src %>" />
      </div>
      <% } %>
    </div>
  </div>
</body>
</html>