<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', { config, assets }) %> <%- include('../utils/debug') %> <%-
    include('../utils/options') %> <%- include('../utils/network') %> <%-
    include('../components/lazyload') %>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"
    ></script>

    <title><%= title %></title>
    <script>
      var list, images, items, splitter;
      function init() {
        const pictures = $(".loadable");
        setInterval(function () {
          lazyload(pictures, $("#list-items").get(0));
        }, 500);
      }
    </script>
  </head>
  <body onload="init()">
    <div class="album-list">
      <div class="album-navigator" id="list">
        <ul class="w3-ul w3-border" id="list-items">
          <% for(const item of items) { %>
          <a href="<%= item.link%>">
            <li
              class="item-list loadable"
              data-src="<%= item.thumb %>"
              onclick='refreshPartial("<%= item.text %>", "/app2/pages/<%= item.uid %>")'
            >
              <%= item.text %>
            </li>
          </a>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
