<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', { config, assets }) %> <%- include('../utils/debug') %> <%-
    include('../utils/options') %> <%- include('../utils/network') %> <%-
    include('../components/lazyload') %> <%- include ('../components/nanogallery') %>
    <script>
      console.info("Loaded");
    </script>

    <title><%= title %></title>
    <script>
      var list, images, items, splitter;
      function init() {
        const ngElement = $(imageItems);
        const pageCount = parseInt("<%= items.length %>");
        if (window.config.use_ng_1) {
          window.gallery = ngElement.nanoGallery.bind(ngElement);
        } else {
          window.gallery = ngElement.nanogallery2.bind(ngElement);
        }

        window.gallery({
          itemsBaseURL: "",
          thumbnailWidth: "auto",
          
          thumbnailHeight: "200",
          thumbnailBorderVertical: 5,
          thumbnailBorderHorizontal: 5,
          thumbnailDisplayTransition: "scaleDown",
          thumbnailDisplayTransitionDuration: 500,
          thumbnailLabel: {
            titleMultiLine: true,
            position: "overImage",
            hideIcons: true,
          },
          galleryTheme: {
            thumbnail: { background: "#FFFFFF", borderColor: "#FFFFFF", titleBgColor: "#00000080" },
          },
          thumbnailHoverEffect2: "borderDarker",
          thumbnailAlignment: "center",
          displayBreadcrumb: false,
          breadcrumbAutoHideTopLevel: false,
          breadcrumbOnlyCurrentLevel: false,
          thumbnailOpenInLightox: true,
          viewerTheme: "light",
          fnImgDisplayed: function (page, pageAlt) {
            var page = (page && page.mediaNumber) || (pageAlt && pageAlt.imageNumber + 1);
            if (pageCount === page) {
              $("#nextBook").show();
              $("#nextBook")[0].style.zIndex = 100;
            }
            return true;
          },
          /*
                    icons: {
                      viewerCustomTool1: '<i class="fa fa-search-plus"></i>'
                    },
                    fnImgToolbarCustClick: function () {
                      var current = window.gallery('option', 'viewerGallery');
                      window.gallery('option', 'viewerGallery', current === 'bottom' ? 'none' : 'bottom');
                      window.gallery('resize');
                    },*/

          viewerTools: {
            topLeft: "pageCounter",
            topRight:
              "playPauseButton, zoomButton, fullscreenButton, downloadButton, infoButton, closeButton" /*+', custom1' */,
          },
          viewerGallery: q.viewbar !== undefined ? "bottom" : "none",
          viewerToolbar: {
            display: false,
          },
        });
        /*$("#imageItems").on('lightboxImageDisplayed.nanogallery2', function () {
                    debugger;
                  });*/

        $("body").on("keydown", function (e) {
          if (e.keyCode === 27) {
            goBack();
          }
        });

        // $(imageItems).nanogallery2('displayItem', 1);
        json("/bookinfo/<%- item.uid%>/progress", q, { value: true }).then(function () {});
        like();
      }
      function isRead() {
        json("/bookinfo/<%- item.uid%>/progress", q, { value: false }).then(function () {
          location.href = "<%- links.back %>";
        });
      }
      function like(val) {
        json("/bookinfo/<%- item.uid%>/like", q, { value: val }).then(function (result) {
          $("#like").toggleClass("w3-text-red w3-hover-red", result.data.value === true);
        });
      }
      function goBack() {
        setTimeout(function () {
          location.href = "<%- links.back %>";
        }, 0);
      }
      $("#search").on("keypress", function (e) {
        /* ENTER PRESSED*/
        if (e.keyCode == 13) {
          q.search.push($("#search").val());
          reload();
        }
      });
    </script>
  </head>
  <body onload="init()">
    <!-- The Modal -->
    <div id="nextBook" class="w3-modal" style="display: none">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="$('#nextBook').hide()" class="w3-button w3-display-topright">&times;</span>
          <p><%= ("Navigation") %></p>
          <a class="w3-padding w3-large fa fa-arrow-left" onclick="reload('<%= links.previous %>')">
            <%= ("Previous") + ':' + links.previousName %> </a
          ><br />
          <a class="w3-padding w3-large fa fa-arrow-right" onclick="reload('<%= links.next %>')">
            <%= ("Next") + ': ' + links.nextName %>
          </a>
        </div>
      </div>
    </div>

    <div class="w3-bar x-w3-head w3-large">
      <div onclick="goBack()" class="w3-bar-item w3-button">
        <i class="fa fa-chevron-circle-left"></i>
      </div>
      <% if (clientMode !=="bd" ) { %>
      <div class="w3-bar-item w3-button" onclick="$('#search').focus()">
        <i class="fa fa-search"></i>
      </div>
      <input
        id="search"
        type="text"
        class="w3-bar-item w3-input"
        placeholder="<%= title %>"
        size="<%= title.length %>"
      />
      <% } %>

      <!--<div onclick="isRead()" class="w3-bar-item w3-button w3-right"><i class="fa fa-times"></i></div>-->
      <a href="<%= links.next %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-fast-forward"></i
      ></a>
      <a download href="<%= links.downloadPdf %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-file-pdf-o"></i
      ></a>
      <a download href="<%= links.downloadCbz %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-book"></i
      ></a>
      <a download href="<%= links.downloadEpub %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-file-epub"></i
      ></a>
      <% if (clientMode !=="bd" ) { %> <%- include('../partials/sort') %> <% } %>
      <div id="like" onclick="like('toggle')" class="w3-bar-item w3-button w3-right">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <div id="imageItems">
      <% for(const item of items) { %>
      <a
        href="<%= item.image %>"
        data-ngexifexposure="<%= item.exposure %>"
        data-ngexifiso="<%= item.iso %>"
        data-ngthumb="<%= item.thumb %>"
        data-ngexiftime="<%= item.time %>"
        data-ngexiflocation="<%= item.GPSLocation %>"
        data-ngdesc="<%= item.desc %>"
        alt="<%= item.text %>"
      >
      </a>
      <% } %>
    </div>
  </body>
</html>
