<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', { config, assets }) %> <%- include('../utils/debug') %> <%-
    include('../utils/options') %> <%- include('../utils/network') %> <%-
    include('../components/lazyload') %> <%- include ('../components/nanogallery') %>

    <title><%= title %></title>
    <script>
      var list, images, items, splitter;
      function selectedAlbum(album) {
        $("#spinner").removeClass("w3-hide");
        location.href = album[0].customData.select;
      }
      function init() {
        const ngElement = $("#albums");
        if (window.config.use_ng_1) {
          window.gallery = ngElement.nanoGallery.bind(ngElement);
        } else {
          window.gallery = ngElement.nanogallery2.bind(ngElement);
        }

        window.gallery({
          fnThumbnailOpen: selectedAlbum,
          //galleryDisplayMode: "pagination",
          itemsBaseURL: "",
          locationHash: false,
          colorScheme: window.config.use_ng_1 ? "light" : undefined,
          thumbnailWidth: "200 XS80 SM160",
          thumbnailHeight: "200 XS80 SM160",
          thumbnailBorderVertical: 5,
          thumbnailBorderHorizontal: 5,
          thumbnailDisplayTransition: "scaleDown",
          thumbnailDisplayTransitionDuration: 500,
          thumbnailLabel: {
            titleMultiLine: true,
            position: "overImage",
            hideIcons: true,
          },
          galleryTheme: {
            thumbnail: { background: "#FFFFFF", borderColor: "#FFFFFF", titleBgColor: "#00000080" },
          },
          thumbnailHoverEffect2: "borderDarker",
          thumbnailAlignment: "center",
          displayBreadcrumb: false,
          breadcrumbAutoHideTopLevel: false,
          breadcrumbOnlyCurrentLevel: false,
          thumbnailDisplayOutsideScreen: false,
          thumbnailOpenInLightox: true,
        });

        $("#search").on("keypress", function (e) {
          /* ENTER PRESSED*/
          if (e.keyCode == 13) {
            q.search.push($("#search").val());
            reload();
          }
        });

        $("body").on("keydown", function (e) {
          if (e.keyCode === 27) {
            goBack();
          }
        });
        favorite();
      }
      function goBack() {
        setTimeout(function () {
          location.href = "<%- links.back %>";
        }, 0);
      }
      function favorite(val) {
        const special = "<%- special %>" === "true";
        if (special) {
          $("#favorite").addClass("w3-hide");
        } else {
          json("/bookinfo/<%- uid %>/favorite", q, { value: val }).then(function (result) {
            $("#favorite").toggleClass("w3-text-red w3-hover-red", result.data.value === true);
          });
        }
      }
    </script>
  </head>
  <body onload="init()">
    <div class="w3-bar x-w3-head w3-large">
      <div onclick="goBack()" class="w3-bar-item w3-button">
        <i class="fa fa-chevron-circle-left"></i>
      </div>
      <a href="<%= links.home %>" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
      <a href="<%= links.users %>" class="w3-bar-item w3-button"><i class="fa fa-users"></i></a>
      <div id="spinner" class="w3-spin w3-bar-item w3-hide w3-text-red">
        <i class="fa fa-spinner"></i>
      </div>
      <a download href="<%= links.downloadPdf %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-file-pdf-o"></i
      ></a>
      <a download href="<%= links.downloadCbz %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-book"></i
      ></a>
      <a download href="<%= links.downloadEpub %>" class="w3-bar-item w3-button w3-right"
        ><i class="fa fa-file-epub"></i
      ></a>
      <div id="favorite" onclick="favorite('toggle')" class="w3-bar-item w3-button w3-right">
        <i class="fa fa-heart"></i>
      </div>
      <div class="w3-bar-item w3-button" onclick="$('#search').focus()">
        <i class="fa fa-search"></i>
      </div>
      <input id="search" type="text" class="w3-bar-item w3-input" placeholder="<%= title %>" />
    </div>

    <% if(search) {%>
    <div id="searchBar" class="w3-bar w3-blue w3-border">
      <% for(const searchItem of search) {%>
      <div class="w3-bar-item w3-button" onclick="removeSearch('<%= searchItem %>')">
        <span> <%= searchItem %> </span>
        <span class="fa fa-times fa-fw"></span>
      </div>
      <% }%>
    </div>
    <% }%>

    <div id="albums">
      <% for(const item of items) { %>
      <a
        style="display: none"
        href="<%= item.thumb %>"
        data-ngthumb="<%= item.thumb %>"
        data-customData="<%= JSON.stringify({ select: item.link})%>"
        data-ngcustomData="<%= JSON.stringify({ select: item.link})%>"
      >
        <%= item.text %>
      </a>
      <% } %>
    </div>
  </body>
</html>
