<!DOCTYPE html>
<head>
  <%- include('../partials/header', { config, assets }) %> <%- include('../utils/debug') %> <%-
  include('../utils/options') %> <%- include('../utils/network') %> <%-
  include('../components/lazyload') %>
  <script>
    function submit() {
      var d = document.getElementById("url").value;
      var dest = document.getElementById("destination").value;
      url("/downloadFromHtml", { url: d, dest: dest }).then((data) => {
        alert("Download complete");
      });
    }
  </script>
</head>
<html>
  <style>
    input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    h3 {
      color: white;
    }
  </style>
  <body>
    <h3>Download from apache index folder</h3>

    <div>
      <form action="javascript:submit()">
        <label for="fname">URL to download</label>
        <input type="text" id="url" name="url" placeholder="url" />

        <label for="lname">Destination</label>
        <input
          type="text"
          id="destination"
          name="destination"
          placeholder="/Volumes/8TB_2/BDs/Manga/"
        />

        <!--
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        -->
        <input type="submit" value="Go !" />
      </form>
    </div>
  </body>
</html>
