<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', { config, assets }) %> <%- include('../utils/debug', { config
    }) %> <%- include('../utils/options', { config }) %> <%- include('../utils/network', { config })
    %> <%- include ('../components/nanogallery') %>
    <script>
      const personaData = JSON.parse(<%- "'" + JSON.stringify(persona) + "'" %>);
      const avatars = JSON.parse(<%- "'" +JSON.stringify(avatars) + "'"%>);
      function displayMessage(msg) {
        var x = $("#snackbar");
        x.text(msg);
        x.addClass("show");
        return new Promise(function (resolve) {
          setTimeout(function () {
            x.className = x.removeClass("show");
            resolve();
          }, 3000);
        });
      }

      function save() {
        personaData.name = $("#name").val();
        personaData.adult = $("#adult").prop("checked");
        personaData.kid = $("#kid").prop("checked");
        json("/persona/" + personaData.uid, {}, personaData).then(function () {
          displayMessage("<%=('Saved')%>");
        });
      }

      function deleteMe() {
        url("/persona/" + personaData.uid, { verb: "DELETE" })
          .then(function () {
            return displayMessage("<%=('Deleted') %>");
          })
          .then(function () {
            goBack();
          });
      }
      function selectedAvatar(items) {
        if (items && items.length) {
          const avatar = items[0].customData;
          personaData.avatarid = avatar;
        }
        $("#avatar").attr(
          "src",
          avatars.find(function (a) {
            return a.uid === personaData.avatarid;
          }).thumb
        );
      }

      function init() {
        const ngElement = $("#avatars");
        if (window.config.use_ng_1) {
          window.gallery = ngElement.nanoGallery.bind(ngElement);
        } else {
          window.gallery = ngElement.nanogallery2.bind(ngElement);
        }
        window.gallery({
          fnThumbnailOpen: selectedAvatar,
          itemsBaseURL: "",
          thumbnailHeight: "200",
          thumbnailWidth: "auto",
          thumbnailDisplayTransition: "scaleDown",
          thumbnailDisplayTransitionDuration: 500,
          thumbnailLabel: {
            titleMultiLine: true,
            position: "overImage",
            hideIcons: true,
          },
          thumbnailHoverEffect2: "imageScaleIn80",
          thumbnailAlignment: "center",
          displayBreadcrumb: false,
          breadcrumbAutoHideTopLevel: false,
          breadcrumbOnlyCurrentLevel: false,
          thumbnailOpenInLightox: true,
        });
        selectedAvatar();
        $("#name").val(personaData.name);
        $("#adult").prop("checked", personaData.adult);
        $("#kid").prop("checked", personaData.kid);
      }
      function goBack() {
        reload("/app2?route=personas&edit=1");
      }
    </script>
  </head>

  <body onload="init()">
    <div class="w3-bar x-w3-head w3-large">
      <div onclick="deleteMe()" class="w3-bar-item w3-button"><i class="fa fa-trash"></i></div>
      <div onclick="save()" class="w3-bar-item w3-button"><i class="fa fa-save"></i></div>
      <div onclick="goBack()" class="w3-bar-item w3-button">
        <i class="fa fa-chevron-circle-left"></i>
      </div>
    </div>
    <div ID="form" class="personas">
      <form class="w3-container">
        <label> <%=("Name")%> </label>
        <input
          id="name"
          class="w3-input w3-animate-input w3-border"
          style="width: 30%"
          type="text"
        />

        <br />
        <input id="adult" class="w3-check" type="checkbox" />
        <label> <%=("Adult")%> </label><br />

        <br />
        <input id="kid" class="w3-check" type="checkbox" />
        <label> <%=("Kid") %> </label><br />

        <br />
        <label> <%=("Selected Avatar")%> </label>
        <div>
          <img id="avatar" src="" class="w3-card-4" alt="<%= persona.avatarid %>" />
        </div>

        <label> <%=("Available Avatars")%> </label>
        <div id="avatars">
          <% for(const avatar of avatars) { %>
          <a
            href="<%= avatar.thumb %>"
            data-ngthumb="<%= avatar.thumb %>"
            data-ngcustomData="<%= avatar.uid %>"
            data-ngdesc="<%= avatar.name %>"
          >
            <%= avatar.name %>
          </a>
          <% } %>
        </div>
      </form>
    </div>
    <div id="snackbar"></div>
  </body>
</html>
