<!DOCTYPE html>
<html lang="en">
<body style="background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-image: url(/app2/resources/error.jpg);">
    <div style="position: fixed;
    left: 47%;
    top: 40%;
    font-size: xx-large;
    width: 29%;"><%= text %></div>
</body>
</html>