<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header', { config, assets }) %>
  <%- include('../utils/debug') %>
  <%- include('../utils/options') %>
  <%- include('../components/carousel-vanilla-js') %>
  <title><%= title %></title>
  <script>
    function init() {
      console.info('Initializating');
      carousel('.pages', parseInt(window.q.start || "0"));

    }
  </script>
<body onload="init()">
  <div class="w3-bar x-w3-head">
    <a href="<%= links.back %>" class="w3-bar-item w3-button"><i class="fa fa-chevron-circle-left"></i></a>
    <%- include('../partials/links', { config }) %>
    <%- include('../partials/search', { config }) %>
    <%- include('../partials/sort', {config}) %>
  </div>
  <div class="simple-carousel pages under">
    <% for(const item of items) { %>
    <div>
      <img class="simple-carousel-cell" lazyload="<%= item.src %>" />
    </div>
    <% } %>
  </div>
</body>
</html>