<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../utils/debug', { config }) %> <%- include('../partials/header', { config, assets
    }) %> <%- include('../utils/options', { config }) %> <%- include ('../components/nanogallery')
    %>
    <title><%= title %></title>
    <script>
      function selectedPersona(items) {
        if (items && items.length) {
          const persona = items[0].customData;
          if (window.gallery("option", "thumbnailSelectable")) {
            location.href = "/app2?route=persona&id=" + persona;
          } else {
            location.href = "/app2?route=folder&id=root&persona=" + persona;
          }
        }
      }
      function edit() {
        window.gallery(
          "option",
          "thumbnailSelectable",
          !window.gallery("option", "thumbnailSelectable")
        );
      }

      function generateQuickGuid() {
        return (
          Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
        );
      }

      function newPersona() {
        reload("/app2?route=persona&id=" + generateQuickGuid());
      }

      function init() {
        const ngElement = $("#personas");
        if (window.config.use_ng_1) {
          window.gallery = ngElement.nanoGallery.bind(ngElement);
        } else {
          window.gallery = ngElement.nanogallery2.bind(ngElement);
        }

        window.gallery({
          fnThumbnailOpen: selectedPersona,
          itemsBaseURL: "",
          thumbnailHeight: "300",
          thumbnailDisplayTransition: "scaleDown",
          thumbnailDisplayTransitionDuration: 500,
          thumbnailLabel: {
            titleMultiLine: true,
            position: "overImage",
            hideIcons: true,
            displayDescription: false,
          },
          thumbnailHoverEffect2: "imageScaleIn80",
          thumbnailAlignment: "center",
          displayBreadcrumb: false,
          breadcrumbAutoHideTopLevel: false,
          breadcrumbOnlyCurrentLevel: false,
          thumbnailOpenInLightox: true,
          galleryTheme: {
            thumbnail: { background: "#FFFFFF", borderColor: "#FFFFFF", titleBgColor: "#00000080" },
          },

          thumbnailSelectable: q.edit,
        });
      }
    </script>
  </head>

  <body onload="init()">
    <div class="w3-bar x-w3-head w3-large">
      <div onclick="newPersona()" class="w3-bar-item w3-button"><i class="fa fa-plus"></i></div>
      <div onclick="edit()" class="w3-bar-item w3-button"><i class="fa fa-pencil"></i></div>
    </div>
    <div ID="personas" class="personas">
      <% for(const item of items) { %>
      <a
        href="<%= item.thumb %>"
        data-ngthumb="<%= item.thumb %>"
        data-customdata="<%- item.uid %>"
        data-ngcustomData="<%- item.uid %>"
        data-ngdesc="<%= item.name %>"
      >
        <%= item.name %>
      </a>
      <% } %>
    </div>
  </body>
</html>
