<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <%- include('../partials/header', { config }) %>
    <link rel="stylesheet" href="/app2/resources/app2.css" media="screen" />
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      function goThere() {
        location.href = '/app2/test';
      }
      function goThere2() {
        location.href = '/app2/test';
      }
    </script>
</head>
<body>
  <div class="w3-bar w3-light-grey w3-border">
    <a href="/app2/personas" class="w3-bar-item w3-button "><i class="fa fa-users"></i>Using a href same url</a>
    <a href="/app2/test?sldkjflsdkjf" class="w3-bar-item w3-button "><i class="fa fa-users"></i>Using a href
      same url plus query args</a>
    <a href="/app2/test/asd?sldkjflsdkjf" class="w3-bar-item w3-button "><i class="fa fa-users"></i>Using a href
      same url plus query args and param</a>
    <div onclick="goThere()" class="w3-bar-item w3-button "><i class="fa fa-home"></i>Using links</div>
    <div onclick="goThere2()" class="w3-bar-item w3-button "><i class="fa fa-home"></i>Using links2 </div>
  </div>
</body>
</html>