<script>
  console.info('Network');
</script>
<script src=https://cdn.jsdelivr.net/npm/whatwg-fetch@3.4.1/dist/fetch.umd.min.js></script>
<script>
  function downloadBook(itemid, format, persona, lang, element) {
    element.classList.add("loading");
    fetch('/job', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ albumid: itemid, format: format, persona: persona, lang: lang })
    }).then(function (response) { return response.json(); }).then(function (data) {
      return new Promise(function (resolve) {
        var timer = setInterval(function () {
          fetch('/job/' + date.uid).then(function (data) {
            if (data.url) {
              clearInterval(timer);
              resolve(data.url);
            }
          })
        }, 1000);
      });
    }).then(function (url) {
      element.classList.remove("loading");
      location.href = url;
    });
  }
  
  function url(path, params, body) {
    if (path && path.length === undefined) {
      console.info('path is undefined');
      debugger;
    }
    params = params || {};
    var query = Object.keys(params)
      .map(function(k) {
        return  encodeURIComponent(k) + '=' + encodeURIComponent(params[k]);
      })
      .join('&');
    console.info('Query is', query);

    return fetch(path + '?' + query, {
      method: body ? 'POST' : (params.verb || 'GET'),
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(body)
    });
  }
  function json(path, params, body) {
    return url(path, params, body).then(function (response) {
      if (Math.floor(response.status / 100) === 2) {
        return response.json()
      } else {
        console.error('json', response.status);
      }
    });
  }

  function html(path, params, e) {
    return url(path, params).then(function (response) {
      if (Math.floor(response.status / 100) === 2) {
        return response.text().then(function (data) {
          if (e) {
            console.info(e.innerHTML);
            e.innerHTML = data;
          }
          return data;
        });
      } else {
        throw new Error('downloadHTML:' + response.status);
      }
    });
  }
</script>