<script>
  console.info('Options');
</script>

<script>
  console.info('Getting query args');
  window.config = JSON.parse('<%- JSON.stringify(config) %>');
  console.info('Value of config', window.config);

  function qArgs(url) {
    var r = url.split(/[?&]/).map(function (v) { return v.split('=') }).filter(function (v) { return v[1]; });

    var q = {};
    r.forEach(function (a) {
      if (!q[a[0]]) {
        q[a[0]] = [];
      }
      q[a[0]].push(a[1])
    })
    for (var idx in q) {
      if (q[idx].length === 1) {
        q[idx] = q[idx][0];
      }
    }

    return q;
  }

  window.q = qArgs(location.search);
  window.hash = location.hash;

  var lang = q.lang;
  if (q.search && typeof (q.search) === "string") {
    q.search = [q.search];
  }
  q.search = q.search ? q.search.map(function (v) { return decodeURIComponent(v); }) : [];

  const persona = q.persona;
  var redirection = location.pathname;
  var shouldRedirect = false;

  if (!persona && "<%=config.skipPersonaCheck ? 1: 0%>" !== "1") {
    redirection = '/app2/personas';
    shouldRedirect = true;
  }
  if (!lang) {
    q.lang = navigator.language;
    shouldRedirect = true;
  }
  const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
  var d = Math.max(vw, vh);
  const densityThresholds = [400, 1000, 2000, Math.max(d, 3000)].sort();;
  d = densityThresholds.find(function (val) { return val >= d; });
  const density = q.density;
  if (density !== d.toString()) {
    shouldRedirect = true;
    q.density = d;
  }
  if (shouldRedirect) {
    reload(redirection);
  }

  function reload(redirection) {
    redirection = redirection || location.pathname;
    const redirPath = redirection.split('?')[0];
    const query = Object.assign(q, qArgs(redirection));

    location.href = redirPath + '?' + Object.keys(query).map(function (v) {
      var val;
      if (!Array.isArray(q[v])) {
        val = [q[v]];
      } else {
        val = q[v];
      }
      return val.map(function (q) { return v + '=' + encodeURIComponent(q); }).join('&');
    }).join('&') + hash;
  }

  function addSearch(label) {
    q.search = (q.search || []).push(label);
    reload();
  }
  function removeSearch(label) {
    q.search = (q.search || []).filter(function (v) { return v !== label; });
    reload();
  }
</script>