
a {
  color: #19f;
  text-decoration: none;
}

a:hover {
  color: #c25;
}

.x-w3-head .w3-bar-item{
  padding-top: 16px;
}
/* container
  ------------------------- */

.container {
  padding-left: 10px;
  padding-right: 10px;
  /* max-width: 1120px; */
}

#search {
  max-width: 60%;
}
.container--wide {
  /* max-width: 1370px;*/
}

.personas {
  padding: 40px;
}

label {
  color: #fff; /* White text color */
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* image-grid
  ------------------------- */

.image-grid {
}

.nGY2GThumbnailTitle .nGY2GThumbnailImageTitle {
  background-color: #000000a8 !important;
}
.image-grid__item,
.image-grid__col-sizer {
  /*width: 32%;*/
}

.image-grid__gutter-sizer {
  width: 2%;
}

/* hide by default */
.image-grid.are-images-unloaded .image-grid__item {
  opacity: 0;
}

.image-grid__item {
  display: block;
  margin: 5px;
}

.image-grid__item_fixed_size {
  width: 200px;
  height: 200px;
}
.image-grid__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.image-grid__label {
  display: block;
  text-align: center;
  /* max-width: 200px; */
  width: 100%;
  margin: auto;
  bottom: 0;
  position: absolute;
  background-color: rgb(66 66 66 / 60%);
  color: white;
}

.draggable {
  position: absolute;
  cursor: move;
  z-index: 10;
}

.vertical-splitter {
  background-color: #2196f3;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.sticky-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.noclick {
  pointer-events: none;
}

.simple-mosaic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.simple-mosaic-item {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  padding: 5px;
}

.simple-mosaic-item .image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.simple-mosaic-item .label {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  bottom: 0;
  position: absolute;
  background-color: #666666 !important;
  opacity: 0.6;
  color: white;
}
.album-list {
}

.album-list .album-navigator {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}
.album-list .album-images {
  position: absolute;
  overflow: scroll;
}
.item-list {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-position: left;
  background-repeat: no-repeat;
  text-indent: 30px;
  padding: 0px 8px !important;
}

.item-list:hover {
  overflow: hidden;
  background-position: left;
  background-repeat: no-repeat;
  text-indent: 30px;
  padding: 0px 8px !important;
}

.album-list .mosaic {
  height: 100%;
}

.album-list .album-row {
  position: relative;
  width: 100%;
  height: 30px;
}
.album-list .album-image {
  height: 30px;
}

.album-list .album-text {
  line-height: 30px;
  height: 30px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}
.album-list .album-text:hover {
  overflow: visible;
}

.simple-carousel .simple-carousel-cell {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.simple-carousel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.carousel-cell {
  width: 100%; /* full width */
  background: #222;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortbutton .selected {
  background-color: orange;
}

.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell .page {
  max-height: 100%;
}
.translucent {
  background: "none";
}
.under {
  z-index: -1;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.pages {
  display: block;
  width: 100%;
  height: 100%;
}

.page-title {
}

.nGY2GThumbnailLabel {
  font-size: smaller;
}

.nGY2GThumbnailImageTitle {
  display: block  !important;
  margin: 0  !important;
}

.nGY2GThumbnailLabel {
  padding: 0 !important;
}