<link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css" />
<link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
<script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
<script>
  function flickity(container, page) {
    var elem = document.querySelector(container);
    var flkty = window.flkty = new Flickity(elem, {
      // options
      //cellAlign: 'left',
      // autoPlay: 1500,
      fullscreen: true,
      lazyLoad: 1,
      imagesLoaded: true
    });
    if (page) {
      flkty.select(page, true);
    }
    flkty.toggleFullscreen();
  }
</script>