<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script>
  // args container '.image-grid'
  // args imageClass '.image-grid__item'

  function isotope(container, imageClass, sortAttributes) {

    const getSortData = {};
    sortAttributes.forEach(function (att) {
      getSortData[att] = `[${att}]`;
    });
    const iso = new Isotope(container, {
      // options
      itemSelector: imageClass,
      layoutMode: 'fitRows',
      getSortData
    });

    imagesLoaded(container).on('progress', function () {
      iso.layout()
    });
    return iso;
  }
</script>