<script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
<script src="https://npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
<script>
  // args container '.image-grid'
  // args imageClass '.image-grid__item'
  function packary(container, imageClass) {
    // init Isotope
    var grid = document.querySelector(container);

    /*
    var iso = new Isotope( grid, {
       itemSelector: '.image-grid__item',
       percentPosition: true
    });
    */
    var pckry = new Packery(grid, {
      // options
      itemSelector: imageClass,
      gutter: 1
    });
    document.querySelectorAll(imageClass).forEach(function (gridItem) {
      var draggie = new Draggabilly(gridItem);
      // bind drag events to Packery
      pckry.bindDraggabillyEvents(draggie);
    });

    imagesLoaded(grid).on('progress', function () {
      // layout packary after each image loads
      pckry.layout();
    });
  }
</script>