<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script>
  function infiniteList(container, items) {
    //   for an individual element
    var infScroll = new InfiniteScroll(container, {
      // options
    });
  }
</script>
<li class="w3-bar">
  <span onclick="this.parentElement.style.display='none'"
    class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>
  <img src="img_avatar2.png" class="w3-bar-item w3-circle" style="width:85px">
  <div class="w3-bar-item">
    <span class="w3-large">Mike</span><br>
    <span>Web Designer</span>
  </div>
</li>