.contentWindow {
  position: relative;
  /*background-color: #B4E0DE;*/
}

.resizer {
  position: absolute;
  z-index: 100;
  background-color: #4e6160;
}

.verticalResizer {
  cursor: ns-resize;
}

.horizontalResizer {
  cursor: ew-resize;
}
